.options-buttons-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .options-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        padding: 0;
        border: 1px solid black;
        border-radius: 0px;
    }
}