.delete-student-modal {
    height: 300px;
    
    .ant-modal-content {
        position: relative;
        height: 100%;
        border: 2px black solid; 
        padding: 0;

        .ant-modal-header {
            padding-left: 25px;
            height: 20%;
            display: flex;
            align-items: center;
            margin: 0px;
            border-bottom: 2px solid black;
        }

        .ant-modal-body {
            padding-left: 25px;
            height: 55%;
            display: flex;
            align-items: center;
            display: flex;
            justify-content: center;
            align-items: center;

            div {
                font-size: 20px;
                font-weight: 600;
            }
        }

        .ant-modal-footer {
            margin: 0px;
            height: 25%;
            width: 100%;
            padding-right: 25px;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 10px;
            border-top: 2px solid black;

            .delete-modal-button {
                border-radius: 0px;
                background-color: #00000000;;
                border: 1px solid black;
                color: black
            }

            .delete-modal-button:hover {
                background-color: #dadada71;
            }

            .delete-button {
                border: red 1px solid;
                color: red;
            }

            .delete-button:hover {
                background-color: #ff9e9e5e;
            }
        }
    }
}