@import "../../../assets/variables/variables.scss"; 

.students-table {
    margin-top: 20px;
    border-spacing: 0px;
    width: 100%;
    th, td {
        padding-top: 10px;
        padding-bottom: 10px;
        border: solid 1px black;
        font-weight: 500;
        text-align: center;
    }

    th {
        background-color: $site-light-grey-color;
    }

    th.checkbox-cell {
        width: 10%;
    }

    th.options-buttons-cell {
        width: 20%;
    }

    th.status-cell {
        width: 10%;
    }

    th.gender-cell {
        width: 10%;
    }

    td {
        font-weight: 600;

        .status-circle {
            background-color: $site-light-grey-color;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            margin: auto;
        }

        .green {
            background-color: $site-green-color;
        }
    }
}