@import "../../../../../assets/mixins.scss";
@import "../../../../../assets/variables/variables.scss";

.user-holder {
    @include flex-center;
    width: 75%;
    gap: 5%;
    color: white;
    font-size: 18px;
    position: relative;
}

.user-holder:hover {
    cursor: pointer;

    .user-dropdown {
        display: block;
    }
}
