@import "../../../assets/variables/variables.scss";
@import "../../../assets/mixins.scss";

.main-header {
    padding: 0 1.5% 0 1.5%;
    background-color: $site-grey-color;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .main-header-text {
        color: white !important;
        font-size: 24px;
    }

    .header-content-holder {
        @include flex-center;
        gap: 5px;

        .notification-user-holder {
            @include flex-center;
            width: 180px;
            gap: 10%;
    
            .bi {
                min-width: 24px;
            }
        }
    }
}

@media screen and (max-width: 430px){
    .main-header {
        .notification-user-holder {
            display: none !important;
        }
    }
    
}
