// Colors.
$site-grey-color: #818181;
$site-light-grey-color: #D8D8D8;
$site-green-color: #689E39;
$active-link-color: #814edf;

// Fonts.
$font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;