@import "../../../../../assets/variables/variables.scss";

.create-update-form-modal {
    min-height: 450px;
    height: fit-content;
    width: 450px !important;

    .ant-modal-content {
        position: relative;
        height: 100% !important;
        border: 2px black solid; 
        padding: 0;

        .ant-form-item-label>label.ant-form-item-required::before{
            content: none;
        }

        .ant-modal-header {
            padding-left: 25px;
            min-height: 50px;
            height: 15%;
            display: flex;
            align-items: center;
            margin: 0px;
            border-bottom: 2px solid black;
        }
    
        .ant-modal-body {
            padding-left: 25px;
            width: 100%;
            min-height: 350px;
            height: fit-content;
            display: flex;
            align-items: center;
            display: flex;
            justify-content: center;
            align-items: center;
    
            .student-form {
                label {
                    width: 80px;
                }
            }
        }
    
        .ant-modal-footer {
            margin: 0px;
            min-height: 50px;
            height: 15%;
            width: 100%;
            padding-right: 25px;
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 10px;
            border-top: 2px solid black;
    
            .modal-button {
                border-radius: 0px;
                background-color: #00000000;;
                border: 1px solid black;
                color: black
            }
    
            .modal-button:hover {
                background-color: #dadada71;
            }
    
            .create-button {
                border: $site-green-color 1px solid;
                color: $site-green-color;
            }
    
            .create-button:hover {
                background-color: #88f75c5e;
            }

            .update-button {
                border: #007599 1px solid;
                color: #007599;
            }
    
            .update-button:hover {
                background-color: #1cddff5e;
            }
        }
    }
}