@import "../../../../../assets/mixins.scss";

.notification-holder {
    @include flex-center;
    width: 15%;
    position: relative;

    .red-bliking-dot {
        z-index: 5;
        position: absolute;
        top: -10%;
        left: 50%;
        border-radius: 50%;
        width: 10px !important;
        height: 10px;
        background-color: #f53a01;
        animation: up-right 2s infinite;
    }

    svg {
        width: 100%;
    }
}


@keyframes up-right {
    0% {
        transform: scale(1);
        opacity: 1
    }
    50% {
        transform: scale (1, 5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.notification-holder:hover {
    cursor: pointer;
    
    .notification-dropdown {
        display: block;
    }
}