.sudent-page {
    position: relative;
    padding-top: 20px;
    padding-right: 100px;
    h1 {
        font-weight: 500;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 900px){
    .sudent-page {
        padding-right: 20px;
    }
}

@media screen and (max-width: 768px){
    .sudent-page {
        padding-left: 20px;
    }
}