@import "../../../assets/variables/variables.scss";

.sidebar {
    padding-top: 30px;
    padding-left: 30px;
}

@media screen and (max-width: 768px){
    .sidebar {
        display: none;
    }
}