@import "../../../assets/variables/variables.scss";

.button-holder {
    display: flex;
    justify-content: end;
    align-items: center;
    
    .add-button {
        height: 40px;
        width: 40px;
        border: 0px;
        padding: 0;
        
        svg:hover {
            fill: $active-link-color;
        }
    }
}